* {
  box-sizing: border-box;
}
#deco1 {

  font-size: 0.8rem;
  color: white;
  text-decoration: none;
  font-weight: normal;

}
#deco2 {

  font-size: 1.2rem;
  color: white;
  text-decoration: none;
  font-weight: normal;

}
body {
  background: hsl(168, 34%, 41%) url('https://raw.githubusercontent.com/Lindo-code/Bulliestraining/fff21b9b22c5cbd64e207ab7945834d9db1c5a13/Images/paws1.svg');
  background-size: 250px 250px;
  background-blend-mode: darken;
  font-family: Sans-Serif;
  position: absolute;
  margin: 0;
}
.container {
  display: flex;
  width: 100vw;
  flex-direction: column;
  justify-content: center;
  justify-items: center;
}
/*.item {
  border: 4px solid red;
  border-radius: 4px;
}*/
a {
  text-decoration: none;
  color: #ff8177;
  font-family: Sans-Serif;
  font-weight: bold;
}
h2 {
  font-family: "Fraunces";
  font-weight: bold;
  text-align: center;
  color: hsl(167, 40%, 24%);
  padding-top: 0.3em;
}
h3 {
  font-family: "Fraunces";
  font-weight: bold;
  text-align: center;
  color: #fff;
}
p {
  font-family: "Barlow";
  color: black;
  font-size: 1.1rem;
}
em {
  font-family: "Barlow";
  color: hsl(212, 27%, 19%);
  font-size: 1.1rem;
}
.list2 li {
  font-family: "Barlow";
  color: black;
  font-size: 1.1rem;
}
/*Navbar*/
.navbar {
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: auto;
  grid-template-areas:
  "blank"
  "logo1"
  "slogan1"
  "link1";
  background-color: #2f4f4f;
  background: rgba(0, 0, 0, 0.5) url('https://raw.githubusercontent.com/Lindo-code/Bulliestraining/main/Images/magdalena-smolnicka-NBDXY9Rhg7M-unsplash.jpg');
  height: 100%;
  background-position: right top;
  background-repeat: no-repeat;
  background-size: cover;
  background-blend-mode: darken;
  border-radius: 10px;
  margin: 40px;
  z-index: 1000;
}
/*Body*/
.body {
 
  height: 100%;
}
.bone {
  background: #f2eade;
  height: 40px;
  width: 6em;
  max-width: 10em;
  position: relative;
  margin: 1em 0 -2em 0;
}
.bone::before,
.bone::after {
  content: "";
  position: absolute;
  border-radius: 50%;
  top: -20px;
  width: 40px;
  height: 40px;
  background: #f2eade;
  box-shadow: 0 40px 0 #f2eade;
}
.bone::before {
  left: -20px;
}
.bone::after {
  right: -20px;
}
.nested_container2 {
  display: grid;
  text-align: center;
  justify-items: center;
  grid-template-rows: auto;
  grid-template-columns: auto;
  grid-template-areas:
  "title1"
  "para1";
}
.nested_containerimg {
  grid-area: para1;
  display: grid;
  grid-template-rows: repeat(2,auto);
  grid-template-columns: repeat(1,auto);
  justify-content: center;
  justify-items: center;
}
.about {
  grid-area: title1;
  text-align: center;
  margin-top: 1em;
  margin-bottom: 1em;
}
.img2 {
  grid-row: 3;
}
.main2 {
  grid-row: 4;
}
.image0 {
  width: 15em;
  height: 12em;
  border: 2px solid #99b898;
  border-radius: 5px;
}
.image1 {
  width: 18em;
  height: 15em;
  border: 2px solid #99b898;
  border-radius: 5px;
  margin-bottom: -2em;
}
#text1 {
  padding: 20px;
  text-align: left;
  margin-top: 0;
}
#text2 {
  padding: 20px;
  margin-top: -2em;
  text-align: left;
}
.list2 {
  padding: 20px;
}
.list2 > ul {
  padding: 20px;
  font-size: 1.1em;
  margin-top: -3em;
}
ul > #li1 {
  margin: 10px;
}
.hr_solid1 {
  width: 60%;
  height: 0;
  border: 0.5px solid #d87878;
  margin-top: 2px;
}
/*Footer*/
.nested_containerfoot {
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: auto;
  grid-template-areas:
  "msg"
  "contact"
  "foot";
  justify-items: center;
  justify-content: center;
  grid-gap: 20px
}
.mailme {
  grid-area: msg;
  justify-content: center;
  justify-self: center;
  justify-items: center;
  text-align: center;
  color: white;
}
form {
  grid-area: contact;
  background: rgba(0, 0, 0, 0.5) url('https://raw.githubusercontent.com/Lindo-code/Bulliestraining/main/Images/charlesdeluvio-DziZIYOGAHc-unsplash.jpg');
  max-height: fit-content;
  max-width: 90vw;
  border-radius: 10px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-blend-mode: darken;
  padding: 20px;
  font-family: Monospace;
  font-size: 1.3rem;
  font-weight: bold;
}
.input1 {
  color: cyan hsl(183, 100%, 15%);
  background: hsl(185, 41%, 84%);
  border-radius: 3px;
  border: solid 1px hsl(172, 67%, 45%);
  font-size: 20px;
  font-family: Monospace;
  font-weight: bold;
  padding: 1px;
  text-align: left;
  height: 1.5em;
  max-width: 50vw;
  margin: 10px;
}
.input2 {
  color: cyan hsl(183, 100%, 15%);
  background: hsl(185, 41%, 84%);
  border-radius: 3px;
  border: solid 1px hsl(172, 67%, 45%);
  font-size: 20px;
  font-family: Monospace;
  font-weight: bold;
  padding: 1px;
  text-align: left;
  max-width: 60vw;
}
.foot {
  grid-area: foot;
  color: white;
  font-family: Monospace;
  padding: 10px;
}
.footer {
  background-color: black;
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-blend-mode: darken;
}
.mail {}
@media screen and (max-width: 968px) {
  .hamburger {
    border-radius: 5px;
    font-size: 2rem; 
    color: white; 
    cursor:pointer;
    z-index: 900000;
    max-width: fit-content;
    max-height: fit-content;
    background-color: rgba(0,0,0,0.4);
    padding: 1px 1em 1px 0.2em;
    top: 0.2em;
  }
  .menu {
    
  }
  .nested_navbar0 span {
    display: block;
    position: fixed;
    margin-right: -0.9em;
    /* Fixed/sticky position */
    right: 0;
  }
  .list0 {
    display: flex;
    justify-self: center;
  }
  .list0 > li {
    display: inline-block;
    margin: 10px;
  }
  .link1 {
    display: flex;
    justify-content:space-between;
    padding: 1em 3em 1em 3em;
  }
  .link1 > li {
    display: inline-block;
    font-size: 0.8rem;
  }
  .logo {
    display: flex;
    justify-self: center;
    width: 7em;
    height: 7em;
    border: 1px solid white;
    border-radius: 50em;
  }
  .slogan {
    display: flex;
    justify-self: center;
    text-align: center;
    font-family: 'Playfair Display', Times New Roman;
    font-size: 1rem;
    color: white;
    padding: 0.5em;
  }
  /*Nav2*/
  .nav2 {
    visibility: hidden;
    
  }
  .links > li {
    display: none;
    margin: 0 8px 0 8px;
  }
  /*BODY*/
  .nested_containerimg {
    grid-area: para1;
    display: grid;
    grid-template-rows: repeat(3,auto);
    grid-template-columns: repeat(1,auto);
    justify-content: center;
    justify-items: center;
  }
  .ch1 {
    visibility: visible;
    margin-top: 0.8em;
  }
  .ch2 {
    visibility: hidden;
  }
  .about {
    grid-area: title1;
    text-align: center;
    margin-top: 1em;
    margin-bottom: 1em;
  }
  .image1 {
    width: 18em;
    height: 15em;
    border: 2px solid #99b898;
    border-radius: 5px;
    margin-bottom: 1em;
  }
  .sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    z-index: 999999;
  }
  .sidenav a {
    padding: 15px 8px 8px 32px;
    text-decoration: none;
    font-size: 1rem;
    color: #818181;
    display: block;
    transition: 0.3s;
  }
  .sidenav a:hover {
    color: #f1f1f1;
  }
  .sidenav .closebtn {
    font-size: 2rem;
    margin-right: 50px;
  }
  .speech-bubble1 {
    width: auto;
    height: auto;
    background:
    #ffe4c4;
    position: relative;
    top: 0;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    max-width: 90vw;
    padding: 1em;
  }
  .speech-bubble {
    width: auto;
    height: auto;
    background:
    #ffe4c4;
    position: relative;
    top: 0;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    max-width: 90vw;
    padding: 1em;
  }
  .speech-bubble:before {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    border-top: 13px solid
    transparent;
    border-right: 20px solid
    transparent;
    border-bottom: 26px solid
    #ffe4c4;
    margin: -50px 0 0 13em;
  }
}
@media screen and (min-width: 968px) {
  .navbar {
    margin-bottom: 0;
  }
  .nested_container1 {
    padding: 10px;
  }
  .nested_navbar0 span {
    display: none;
  }
  /*NAVBAR*/
  .list0 {
    display: flex;
    justify-self: flex-end;
  }
  .list0 > li {
    display: inline-block;
    margin: 10px;
  }
  .link1 {
    display: flex;
    justify-self: center;
  }
  .link1 > li {
    display: inline-block;
    margin: 10px;
  }
  .logo {
    display: flex;
    justify-self: center;
    border: 1px solid white;
    width: 8.5em;
    height: 8.5em;
    border-radius: 50em;
    margin-top: -2em;
  }
  .slogan {
    display: flex;
    justify-self: center;
    font-family: 'Playfair Display', Times New Roman;
    color: white;
  }
  .nav2 {
    display: flex;
    justify-content: space-around;
    justify-items: space-around;
    position: relative;
    top: 0;
    left: 24%;
    border: none;
    outline: none;
    background-color:  #2f4f4f;
    color: white;
    border-radius: 50px;
    font-size: 15px;
    width:fit-content;
    height:fit-content;
    margin-top: -0.5em;
    margin-bottom: 1em;
    z-index: 999;
  }
  #nav3 {
    display: none;
    justify-content: space-around;
    position: fixed;
    bottom: 2px;
    right: 24%;
    z-index: 1005;
    border: none;
    outline: none;
    background-color: red;
    color: white;
    border-radius: 50px;
    font-size: 15px;
  }
  .sidenav {
    display: none;
  }
  .links > li {
    display: inline-block;
    margin: 0 8px 0 8px;
  }
  /*BODY*/
  .speech-bubble1 {
    width: auto;
    height: auto;
    background:
    #ffe4c4;
    position: relative;
    top: 0;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    max-width: 90vw;
    padding: 1em;
  }
  .speech-bubble {
    width: auto;
    height: auto;
    background:
    #ffe4c4;
    position: relative;
    left: 0;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    padding: 1em;
  }
  .speech-bubble:before {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    border-top: 13px solid
    transparent;
    border-right: 26px solid
    #ffe4c4;
    border-bottom: 13px solid
    transparent;
    margin: 150px 0 0 -40px;
  }
  .nested_containerimg {
    grid-area: para1;
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: auto;
    grid-template-areas:
    "main1 main2 main2"
    "main3 main3 main4"
    "main5 main6 main6";
    justify-content: center;
    justify-items: center;
    align-content: center;
    align-items: center;
    padding: 30px;
    grid-gap: 10px;
  }
  .img1 {
    grid-area: main1;
  }
  .main1 {
    grid-area: main2;
  }
  .main2 {
    grid-area: main3;
  }
  .img2 {
    grid-area: main4;
  }
  .img3 {
    grid-area: main5;
  }
  .ch1 {
    display: none;
  }
  .ch2 {
    display: block;
  }
  .list2 {
    grid-area: main6;
  }
  #text1 {
    padding: 20px;
    text-align: left;
    margin-top: 0;
  }
  #text2 {
    padding: 20px;
    margin-top: 0;
    margin-bottom: 0;
    text-align: left;
  }
  .list2 {
    padding: 20px;
  }
  .list2 > ul {
    padding: 20px;
    font-size: 1.1em;
    text-align: left;
    margin-top: 0;
  }
}
@media screen and (min-width: 1025px) {
  .speech-bubble1 {
    width: auto;
    height: auto;
    background:
    #ffe4c4;
    position: relative;
    top: 0;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    max-width: 90vw;
    padding: 1em;
  }
  .speech-bubble {
    width: auto;
    height: auto;
    background:
    #ffe4c4;
    position: relative;
    left: 0;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    padding: 1em;
  }
  .speech-bubble:before {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    border-top: 13px solid
    transparent;
    border-right: 26px solid
    #ffe4c4;
    border-bottom: 13px solid
    transparent;
    margin: 150px 0 0 -80px;
  }
}